.jumbotron{
    background-color: darkgray !important;
}
body{
    background-color: darkgray !important;
}

h1{
    margin-left: 38%;
    color: blue;
    margin-top: 3px;
    margin-bottom: 2%;
}


.form_container{
    display: flex;
    /* width: 80%; */
    margin-left: 37.7%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#input{
    padding: 4px;
}




hr{
    overflow: visible; /* For IE */
    height: 30px;
    width: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr::before{ /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}


/* https://css-tricks.com/examples/hrs/ */ 